body{
    margin: 0%;
    background-image: url("img/photo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #F9F7F3;
}

.navbar{
    background-color: #606c38;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.navbar ul{
    display: flex;
    width: 100%;
}

.navbar li{
    list-style-type: none;
    padding: 15px;
}

.right-align{
    margin-left: auto;
}
.nav-btn{
    border-radius: 20px;
    text-decoration: none;
    padding: 0px 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    border: none;
    font-family: 'Montserrat';
}
.buttons-container {
    display: flex;
    margin-left: auto;
}
.login-btn{
    margin-right: -30px; 
    z-index: 1001;
    background-color: #bc6c25;
    color: #EEE5E9;
}
.register-btn{
    margin-right: 15px;
    padding-right: 20px;
    padding-left: 30px;
    z-index: 1000;
    background-color: #dda15e;
    color: #1b1b1b;
}

.register-btn:hover{
    background-color: #283618;
    color: #EEE5E9;
}

.login-btn:hover{
    background-color: #283618;
    color: #EEE5E9;
}

.logo{
    background-image: url("img/logo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    filter:saturate(2);
    cursor: pointer;
    margin-right: 10px;
}

.logo:hover{
    filter:saturate(3);
}

.link{
    cursor: pointer;
}

.link:hover{
    background-color: #283618;
}
